.page-container {
  margin: 2% auto;
  max-width: 80%;
  border-radius: 40px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 4;
}
.main{
  height: 100%;
  padding: 24px;
}
.nav {
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.page {
  height: 100%;
  min-width: calc(100vw - 140px);
}
@media (max-width: 990px) {
  .page-container {
    max-width: 90%;
  }
}
@media (max-width: 630px) {
  .page-container {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }
}

a{
  color: black;
  text-decoration: none;
}

.active {
  color: red;
}

.footer{
  padding: 24px;
}